---
import Icon from "../Icon.astro";
import { cn } from "@/lib/utils";

const { title, icon, className } = Astro.props;
---

<div class={cn("flex items-center gap-6", className)}>
  <Icon name={icon} className="w-10 h-10 md:w-12 md:h-12 text-primary" />
  <h2 class="font-heading text-3xl leading-[1.1] md:text-6xl">
    {title}
  </h2>
</div>
