---
import { cn } from "@/lib/utils";

import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {  
  className?: string;
}
const { className, ...attrs } = Astro.props;
---

<div class={cn("mx-auto flex max-w-[64rem] flex-col items-center justify-center gap-12 text-center", className)} {...attrs}>
  <slot>
</div>
  