e---
import Icon from "../Icon.astro";
import { cn } from "@/lib/utils";

const { title, titleComplete, className } = Astro.props;
---

<div class={cn("flex items-center gap-2 md:gap-6", className)}>
  <!--<Icon name={icon} className="w-10 h-10 md:w-12 md:h-12 text-primary" />-->
  <h2 class="font-heading text-xl leading-[1.1] md:text-2xl">
    {title}
  </h2>
</div>
<div class={cn("flex items-center gap-4 md:gap-6", className)}>
  <!--<Icon name={icon} className="w-10 h-10 md:w-12 md:h-12 text-primary" />-->
  <h3 class="font-heading text-3xl leading-[1.1] md:text-5xl">
    {titleComplete}
  </h3>
</div>
